**<h1> Data Processing**

<h2> Data merge

In [ ]:
!pip install panda

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: panda in /usr/local/lib/python3.8/dist-packages (0.3.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from panda) (2.25.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from panda) (57.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->panda) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->panda) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->panda) (1.24.3)

In [ ]:
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data= "/content/gdrive/My Drive/Datasets/Medische_dataset/medisch-centrum-randstad.csv"

df = pd.read_csv(data)

In [ ]:
df

      genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0          80     183   101         0        4        8      4        57
1          76     188    65         1       17        8      4        59
2          80     190    94         2       12        5      3        73
3          80     169    96         2        7        9      3        69
4          81     179    93         3       14        9      1        84
...       ...     ...   ...       ...      ...      ...    ...       ...
4091       82     185    67         3       11        8      2        90
4092       82     183    72         2        1        5      4        88
4093       83     192    92         1       22        2      4        62
4094       81     175    60         3       13        7      2        93
4095       83     204    76         3        8        8      1        96

[4096 rows x 8 columns]

In [ ]:
# Convert length to meters
df["length"] = df["length"] / 100

# Calculate the BMI
df["BMI2"] = df["mass"] / (df["length"] ** 2)
df["BMI2"] = df["BMI2"].round(1)

In [ ]:
# Save the BMI column
bmi_column = df["BMI2"]

# Insert the BMI column at the second position
df.insert(1, "BMI", bmi_column)

In [ ]:
df = df.drop(columns=["BMI2"], axis=1)
df = df.drop(columns=["length"], axis=1)
df = df.drop(columns=["mass"], axis=1)

In [ ]:
df

      genetic   BMI  exercise  smoking  alcohol  sugar  lifespan
0          80  30.2         0        4        8      4        57
1          76  18.4         1       17        8      4        59
2          80  26.0         2       12        5      3        73
3          80  33.6         2        7        9      3        69
4          81  29.0         3       14        9      1        84
...       ...   ...       ...      ...      ...    ...       ...
4091       82  19.6         3       11        8      2        90
4092       82  21.5         2        1        5      4        88
4093       83  25.0         1       22        2      4        62
4094       81  19.6         3       13        7      2        93
4095       83  18.3         3        8        8      1        96

[4096 rows x 7 columns]

In [ ]:
data_extra= "/content/gdrive/My Drive/Datasets/Medische_dataset/medisch-centrum-randstad-extra.csv"
df2 = pd.read_csv(data_extra)

In [ ]:
df2

      genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0        81.0   175.0  91.0       1.0      0.0      3.0      2        82
1        82.0   195.0  87.0       1.0      1.0      1.0      2        84
2        83.0   164.0  90.0       1.0      0.0      8.0      2        79
3        80.0   200.0  68.0       0.0      1.0      6.0      3        74
4        78.0   181.0  94.0       2.0     15.0      6.0      3        68
...       ...     ...   ...       ...      ...      ...    ...       ...
4091     77.0   200.0  97.0       3.0      2.0      3.0      2        94
4092     81.0   173.0  65.0       1.0     22.0      6.0      2        67
4093     82.0   156.0  73.0       1.0      0.0      8.0      4        69
4094     83.0   184.0  94.0       2.0     16.0      9.0      3        74
4095     77.0   178.0  81.0       1.0      1.0      5.0      4        71

[4096 rows x 8 columns]

In [ ]:
# Convert length to meters
df2["length"] = df2["length"] / 100

# Calculate the BMI
df2["BMI2"] = df2["mass"] / (df2["length"] ** 2)
df2["BMI2"] = df2["BMI2"].round(1)

# Save the BMI column
bmi_column = df2["BMI2"]

# Insert the BMI column at the second position
df2.insert(1, "BMI", bmi_column)

In [ ]:
df2 = df2.drop(columns=["BMI2"], axis=1)
df2 = df2.drop(columns=["length"], axis=1)
df2 = df2.drop(columns=["mass"], axis=1)

In [ ]:
df2

      genetic   BMI  exercise  smoking  alcohol  sugar  lifespan
0        81.0  29.7       1.0      0.0      3.0      2        82
1        82.0  22.9       1.0      1.0      1.0      2        84
2        83.0  33.5       1.0      0.0      8.0      2        79
3        80.0  17.0       0.0      1.0      6.0      3        74
4        78.0  28.7       2.0     15.0      6.0      3        68
...       ...   ...       ...      ...      ...    ...       ...
4091     77.0  24.2       3.0      2.0      3.0      2        94
4092     81.0  21.7       1.0     22.0      6.0      2        67
4093     82.0  30.0       1.0      0.0      8.0      4        69
4094     83.0  27.8       2.0     16.0      9.0      3        74
4095     77.0  25.6       1.0      1.0      5.0      4        71

[4096 rows x 7 columns]

In [ ]:
df3 = pd.concat([df, df2], axis=0)

In [ ]:
df3

      genetic   BMI  exercise  smoking  alcohol  sugar  lifespan
0        80.0  30.2       0.0      4.0      8.0      4        57
1        76.0  18.4       1.0     17.0      8.0      4        59
2        80.0  26.0       2.0     12.0      5.0      3        73
3        80.0  33.6       2.0      7.0      9.0      3        69
4        81.0  29.0       3.0     14.0      9.0      1        84
...       ...   ...       ...      ...      ...    ...       ...
4091     77.0  24.2       3.0      2.0      3.0      2        94
4092     81.0  21.7       1.0     22.0      6.0      2        67
4093     82.0  30.0       1.0      0.0      8.0      4        69
4094     83.0  27.8       2.0     16.0      9.0      3        74
4095     77.0  25.6       1.0      1.0      5.0      4        71

[8192 rows x 7 columns]

In [ ]:
df3_missing_rows = df3[df3.isnull().any(axis=1)]
print(df3_missing_rows)

      genetic   BMI  exercise  smoking  alcohol  sugar  lifespan
102      79.0   NaN       2.0      0.0      6.0      3        82
171       NaN  22.3       1.0     22.0      7.0      2        70
329      80.0   NaN       2.0      7.0      7.0      3        74
573      78.0   NaN       3.0      3.0      3.0      4        89
2401     80.0  25.6       1.0      1.0      NaN      4        70
3539     81.0  25.7       NaN      0.0     10.0      4        65
3967     80.0  27.2       2.0      NaN      9.0      2        79

In [ ]:
df3 = df3.drop(102)
df3 = df3.drop(171)
df3 = df3.drop(329)
df3 = df3.drop(573)
df3 = df3.drop(2401)
df3 = df3.drop(3539)
df3 = df3.drop(3967)

In [ ]:
df3_missing_rows = df3[df3.isnull().any(axis=1)]
print(df3_missing_rows)

Empty DataFrame
Columns: [genetic, BMI, exercise, smoking, alcohol, sugar, lifespan]
Index: []

In [ ]:
df3

      genetic   BMI  exercise  smoking  alcohol  sugar  lifespan
0        80.0  30.2       0.0      4.0      8.0      4        57
1        76.0  18.4       1.0     17.0      8.0      4        59
2        80.0  26.0       2.0     12.0      5.0      3        73
3        80.0  33.6       2.0      7.0      9.0      3        69
4        81.0  29.0       3.0     14.0      9.0      1        84
...       ...   ...       ...      ...      ...    ...       ...
4091     77.0  24.2       3.0      2.0      3.0      2        94
4092     81.0  21.7       1.0     22.0      6.0      2        67
4093     82.0  30.0       1.0      0.0      8.0      4        69
4094     83.0  27.8       2.0     16.0      9.0      3        74
4095     77.0  25.6       1.0      1.0      5.0      4        71

[8178 rows x 7 columns]

In [ ]:
df3.to_csv("/content/gdrive/My Drive/Datasets/Medische_dataset/medisch-centrum-randstad-clean.csv")